.msg {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  background: #eee;
  font-size: 20px;
  border-style: solid;
  border-radius: 4px;
  padding: 4px;
}

.failed {
  color: red;
}

.successful {
  color: #3a1;
  font-weight: 600;
}